*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section#mono-colonn > *{
    height: 100%
}


section#mono-colonn{
    height: 600px;
    background-color: #00008b;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#mono-colonn > section {
    width: 50%;
    height: 80%;
    background-color: #ee82ee;
}

section#due-colonn{
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#due-colonn > section {
    width: 50%;
    height: 80%;
    background-color: #ee82ee;
}





