*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section#mono-colonn > *{
    height: 100%
}

section#mono-colonn{
    height: 600px;
    background-color: #00008b;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#mono-colonn > aside {
    width: 50%;
    height: 80%;
    background-color: #ee82ee;
}

section#due-colonn > *{
    height: 100%;

}

section#due-colonn{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

section#due-colonn > aside:first-child {
    width: 40%;
    height: 60%;
    background-color: #1e90ff;
}
section#due-colonn > aside:last-child {
    width: 20%;
    height: 60%;
    background-color: #ffc0cb;
}